<% if user_signed_in? %>
	<h1>You're logged in!</h1>
<% else %>

<div class="hero-unit">
	<h1>Medical CRM</h1>
	<p>Are you ready for the future?</p>

	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>

</div>

<% end %>
